    {% extends 'base.html' %}

    {% block content %}
    <h1>home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aliquam amet blanditiis commodi doloremque ducimus ea eaque error expedita fuga, illum incidunt itaque iure maiores odio praesentium recusandae, sit sunt tempora! Deserunt laboriosam minus odio ratione reiciendis, sapiente ullam voluptates! Asperiores culpa debitis eum fugiat iusto libero nam odio officiis quae rerum. Cumque dolor fugiat, inventore natus similique tempora vero! Aperiam deserunt dignissimos dolor expedita ipsam iure iusto nostrum odio placeat reiciendis sed, vel. Animi, dolor dolore dolorem dolores earum eligendi exercitationem fugit illo ipsa ipsum libero, magni maiores molestiae numquam odio quasi reiciendis repudiandae sapiente sunt voluptatem voluptatum!</p>

    {% endblock %}
